<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UpStraight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8D8DCC91ED8E42D00A3AE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8D8DCDD1ED8E42D00A3AE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8D8DCE81ED8E42D00A3AE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
